DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=acolhimento.simoesti.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://acolhimento.simoesti.com.br
DJANGO_SECURE_SSL_REDIRECT=True
SQLITE_PATH=/app/data/db.sqlite3
