DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=acolhimento.simoesti.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://acolhimento.simoesti.com.br
DJANGO_SECURE_SSL_REDIRECT=True
APP_PORT=8183
POSTGRES_DB=acolhimento_pibvp
POSTGRES_USER=acolhimento
POSTGRES_PASSWORD=troque-esta-senha-no-env
POSTGRES_HOST=db
POSTGRES_PORT=5432
TWILIO_ENABLED=True
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_STATUS_CALLBACK_URL=https://seu-dominio/acolhimento/mensagens/webhook/twilio-status/
TWILIO_TEMPLATE_OPT_IN_SID=
TWILIO_TEMPLATE_OPT_IN_VARIABLES={}
# Template para reabrir a janela de 24h (continuar conversa) - diferente do de boas-vindas:
TWILIO_TEMPLATE_CONTINUAR_SID=
TWILIO_TEMPLATE_CONTINUAR_VARIABLES={}
