DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=acolhimento.simoesti.com.br,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://acolhimento.simoesti.com.br,http://localhost:8000,http://127.0.0.1:8000
DJANGO_SECURE_SSL_REDIRECT=True
SQLITE_PATH=/app/data/db.sqlite3
